@import "tailwindcss";

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #7FB8FF;
    border-radius: 3px;
}

@theme {
  --color-focus: #7FB8FF;
  --color-focus-bg: #24243A;
  --color-select-border: #96A7B9;
  --color-select-bg: #151427;
  --color-header-bg: #201379;
  --color-header-search-bg: #201379;
  --color-primary: #CAD4EE;
  --color-sidebar-bg: #08071D;
  --color-line-1: #007AFF;
  --color-line-2: #2BD9FF;

  --breakpoint-*: initial;
  --breakpoint-mb: 800px;
  --breakpoint-tb: 1200px;

  --text-xxs: 8px;
  --text-xs--line-height: 8px;

  --blur-3xl: 180px;
}

@font-face {
  font-family: "Proxima";
  src: url("/fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima";
  src: url("/fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Proxima";
  src: url("/fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
}

:root {
  font-family: "Proxima", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --auth-bg-1: url("/btn-auth-1.svg");
  --auth-bg-2: url("/btn-auth-2.svg");
}

body {
  margin: 0;
  background-color: #050414;
  min-width: 320px;
  min-height: 100vh;
}
